@using DD.Cloud.VersionManagement.DataAccess.Models
@model ReleaseData

@{
	ViewBag.Title = $"Release \"{Model.Name}\" of product \"{Model.Product.Name}\"";
}

<div class="row">
	<div class="col-md-8">
		<form role="form">
			<fieldset>
				<legend>@ViewBag.Title</legend>
				<div class="form-group">
					<label for="releaseName">Name</label>
					<div class="form-control" id="releaseName">@Model.Name</div>
				</div>
				<div class="form-group">
					<label for="releaseProduct">Product</label>
					<div id="releaseProduct" class="form-control">
						<a asp-controller="Products" asp-action="DetailById" asp-route-productId="@Model.ProductId">@Model.Product.Name</a>
					</div>
				</div>
				<div class="form-group">
					<label for="releaseVersionRange">Version range</label>
					<div id="releaseVersionRange" class="form-control">
						<a asp-controller="VersionRanges" asp-action="DetailById" asp-route-versionRangeId="@Model.VersionRangeId">@Model.VersionRange.Name</a>
					</div>
				</div>

				<div class="form-group">
					<a asp-action="Edit" asp-route-releaseId="@Model.Id" class="btn btn-default">Edit</a>
				</div>
			</fieldset>
		</form>
	</div>
</div>
