@using DD.Cloud.VersionManagement.Models
@model IEnumerable<ReleaseDisplayModel>

@{
	ViewBag.Title = "Releases";
}

<div class="row">
	<div class="col-md-8">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Product</th>
					<th>Version range</th>
					<th>Special version</th>
					<th>Links</th>
				</tr>
			</thead>
			<tbody>
				@foreach (ReleaseDisplayModel release in Model)
				{
					<tr>
						<td>
							<a asp-action="DetailById" asp-route-releaseId="@release.Id">@release.Name</a>
						</td>
						<td>
							<a asp-action="DetailById" asp-controller="Products" asp-route-productId="@release.ProductId">@release.ProductName</a>
						</td>
						<td>
							<a asp-action="DetailById" asp-controller="VersionRanges" asp-route-versionRangeId="@release.VersionRangeId">@release.VersionRangeName</a>
						</td>
						<td>
							@release.SpecialVersion
						</td>
						<td>
							<a asp-action="Edit" asp-route-releaseId="@release.Id">Edit</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-8 text-right">
		<a asp-action="Create" class="btn btn-default">Create new release</a>
	</div>
</div>