<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="~/styles/bootstrap.css">
	<link rel="stylesheet" href="~/styles/bootstrap-theme.css">
	<link rel="stylesheet" href="~/styles/site.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Versioning", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
					<li>@Html.ActionLink("Products", "Index", "Products", new { area = "" }, null)</li>
					<li>@Html.ActionLink("Releases", "Index", "Releases", new { area = "" }, null)</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
	</div>

	<script src="~/scripts/jquery.js"></script>
	<script src="~/scripts/bootstrap.js"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
